{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-7">
                <div class="card mt-3">
                    <div class="card-header">
                        {{object.name}}
                    </div>
                    <p class="card-text">{{object.description}}</p>
                    {% for i in object.interfaz.all %}
                        <div class="text-align">
                            {% if i.photo %}
                            <img src="{{i.photo.url}}" width='200' height='200'>
                            {% endif %}
                            <div class="card-text">
                                {{i.description}}
                            </div>

                            {% if i.document %}
                            <a href="{{i.document.url}}">{{i.document}}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-5">
                <div class="card mt-3">
                    <div class="card-header">Buscar Cursos</div>
                    <div class='card-body'>
                        <div class="">
                           <select name="select" id="id_select" onchange="ShowSelected()" style='width:200'>
                            <option selected="true" disabled="disabled">seleccione el curso</option>
                            {% for curso in cursos %}
                                <option value="{{curso.id}}">{{curso.name}}</a></option>
                            {% endfor %}
                        </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
<script>
    function ShowSelected(){
        var value_ = document.getElementById('id_select').value;
        var url = "{% url 'curso-detail' pk=123 %}";
        location.href= url.replace('123',value_)

    }

</script>

{% endblock js %}
