{% extends "base.html" %}

{% block content %}
<div class="text-center"  style="margin-top:122px ; border: none !important;">
    <div class="card-header ">
        <h2 style="color:white;-webkit-text-stroke-width: thick;">FIISBOOK</h2>
    </div>
    <div class="card-body">
        <form action="" method="post"> {% csrf_token %}
            <div class="form-group">
            <label style="color:white" for="username">Username</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label style="color:white" for="password">Password</label>
            <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Ingresar</button>

        </form>
    </div>
</div>

{% endblock content %}
{% block styles %}
<style>
@media (max-width: 360px) {
.movil{
    display: block !important;
    }
}

body{
    background-color: darkblue !important;
    }
.fiore{
    border: 1px coral;
    opacity: 0.2;
}

</style>
{% endblock styles %}
