{% extends "base.html" %}

{% block content %}
<div class="text-center"  style="margin-top:122px ; border: none !important;">
    <!-- <div class="text-white bg-dark" style="height: 70px;">
            <img class="mb-1 mt-1" style="max-width: 55%; padding: 5px;"src="./imagen/logo-fiis.png" alt="">
    </div> -->
    <div class="card-header ">
        <h2 style="color:white;-webkit-text-stroke-width: thick;">FIISBOOK</h2>
    </div>
    <div class="card-body">

        <form action="" method="post">{% csrf_token %}
            {% for field in form  %}
                <div class="form-group">
                    {{field.label_tag}}
                    {{field}}

                    {% if field.errors  %}
                        {{field.errors}}
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>

{% endblock content %}
{% block styles %}
<style>
@media (max-width: 360px) {
.movil{
    display: block !important;
    }
}

body{
    background-color: darkblue !important;
    }
.fiore{
    border: 1px coral;
    opacity: 0.2;
}

</style>
{% endblock styles %}
